name: altrapone-dev

services:
  altrapone:
    build:
      context: ..
      dockerfile: docker/Dockerfile.dev
    container_name: altrapone-dev
    env_file:
      - ../.env
    user: "1000:1000"
    volumes:
      - ..:/app
    command: sleep infinity